:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.app {
  width: 100%;
  padding: 20px;
}

.board {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.column {
  background: rgba(255,255,255,0.06);
  padding: 14px;
  width: 280px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.column h2 {
  text-align: center;
  margin-bottom: 14px;
  font-size: 1.2em;
}

.task-form {
  max-width: 420px;
  margin: 0 auto 30px;
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.35);
}
.task-form button {
  background: linear-gradient(135deg, #646cff, #535bf2);
  border: none;
  color: white;
  font-weight: 600;
  padding: 12px;
  border-radius: 10px;
}

.task-form button:hover {
  opacity: 0.9;
}



.task-card {
  background: rgba(255,255,255,0.12);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.task-card h4 {
  margin: 0 0 6px;
}


.task-card.alta {
  border-left: 6px solid #e53935;
}

.task-card.media {
  border-left: 6px solid #fb8c00;
}

.task-card.baja {
  border-left: 6px solid #43a047;
}

.task-actions {
  margin-top: 8px;
}

